.row {
  margin-left: 20px;
  color: white;
}

.row_title {
  font-size: 1.4rem;
  margin-left: 10px;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  gap: 10px;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  width: 100%;
  max-height: 120px;
  object-fit: contain;
  transition: transform 0.35s;
  border-radius: 4px;
}

.row_poster:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.row_posterLarge {
  max-height: 250px;
}

.row_posterLarge:hover {
  transform: scale(1.22);
}

.row_trailer {
  padding: 40px;
}